[submodule "public"]
	path = public
	url = https://github.com/Noofbiz/Noofbiz.github.io.git
	branch = master
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
